body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  color: #ccc;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.pagenation {
  font-size: 10pt;
}

.pagenation li {
  display: inline-block;
}

.card-picture {
  width: 100%;
}




.direction_img {
  max-width: 100%;

}


//top pageで利用
.card-img-top {
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-text-username {
    float: left;
    width: 50%;
}

.card-text-direction {
    float: right;
    width: 50%;  
}

.post-create-form-group {
    margin-bottom: 0;
}

//login.blade.phpで利用
.page_title {
  font-family: impact;
  color: black;
  font-size: 50px;
}



.login_btns {
    padding: 0.5em 2em;
    background-color: #4A82F6;
    // background-color: #53D5EB;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

//auth/trip/index.blade.php
.index_line {
  color: #c0c0c0;
  border: none;
  border-bottom:dashed  3px
}



///auth/trip/detail.blade.php
.item_line {
  border-top: 3px double #ccc;
}

//auth/trip/detail.blade.php
.page_title_2 {
  font-family: impact;
  color: black;
  font-size: 40px;
  
}

//auth/register.blade.php
//auth/post/create.blade.php
.caution {
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

//auth/post/create.blade.php
.required {
  background-color: #F30100;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}



//auth/post/detail.blade.php
.detail_title {
  color: #000000;
  font-size: 30px;
  // margin-bottom: 0;
  // padding: 8px;
  font-weight: 600;
}

.detail_direction {
  color: #6495ed;
  font-size: 20px;
}

.detail_count {
  color: #000000;
}

.detail_username {
  font-size: 25px;
  color: #000080;
}

.detail_text {
  background: #ffffff;
}

//auth/post/index/

$card_title_color: #000000;
$btn_color: #1F9AF5;
$edit_btn_color: #33cc33;
$delete_btn_color: #ea5550;

.btn {
  background-color: $btn_color;
  color: #ffffff;
}

.card {
    border-radius: 0;
  
  .card_image {
    position: relative;
    
    .eye {
      position: absolute;
      top: 0px;
      right: 5px;
      
      .count-text {
      color: #ffffff;
      }
    }
    
  }
    
  .card_body {
    background: #ffffff;
    padding: 0;
    
    .card_title {
      color: $card_title_color;
      font-size: 20px;
      margin-bottom: 0;
      padding: 8px;
      font-weight: 500;
    }
    
    .card_text {
      color: #000000;
      padding: 5px;
      margin-block-end: 0;
      
      .username {
        padding: 0 10px;
        margin-bottom: 0;
        a { 
          color: #000080;
        }
      }
      
      .direction {
        padding: 0 10px;
        margin-bottom: 0;
        a { 
          color: #6495ed;
        }
      }
      
      .create_at {
        color: #000000;
        margin-bottom: 0;
      }
    }
    
    .index_btns {
      padding: 0 3px 10px 3px; 
      
      .edit_btn {
        background-color: $edit_btn_color;
        color: #ffffff;

      }
      
      .delete_btn {
        margin-left: 5px;
        background-color: $delete_btn_color;
        color: #ffffff;
      }
    }
  }
}


//auth/trip/index.blade.php
.item_delete_btn {
  margin-left: 3px;
}

///auth/trip/index.blade.php
.trip_index_delete-confirm {
  margin-left: 3px;
}

