$page_title_font: impact;

$middle_title_color: #000000;
$middle_title_font: impact;

$card_title_color: #000000;
$direction_color: #6495ed;

$card_title_color: #000000;


$btn_word_color: #ffffff;

$btn_color: #1F9AF5;
$edit_btn_color: #33cc33;
$delete_btn_color: #ea5550;

$modal_caution_color: #ff0000;
$modal_phrase_color: #000000;
$modal_stop_delete_color: #1F9AF5;

$username_color: #000080;

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

//全般的に使用
.btn {
  background-color: $btn_color;
  color: $btn_word_color;
}

.page_title {
  font-family: $page_title_font;
  color: black;
  font-size: 50px;
}

.pagenation {
  font-size: 10pt;
}

.pagenation li {
  display: inline-block;
}
//////////////////////////////



body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  color: #000000;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}


///////////////////////////////////////
//auth/post/create.blade.php
.caution {
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

//auth/post/create.blade.php
.required {
  background-color: #F30100;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

//auth/post/detail
.detail_page {
  .detail_direction {
    color: $direction_color;
    font-size: 20px; 
  }
  
  .index_btns {
    padding: 0 3px 10px 3px;
    
    .edit_btn {
      background-color: $edit_btn_color;
      color: $btn_word_color;
    }
    
    .delete_btn {
      margin-left: 5px;
      background-color: $delete_btn_color;
      color: $btn_word_color;
    }
  }
  
  .modal-content {
    .modal-header {
      .modal-title {
        color: $modal_caution_color;
        font-weight: 700;
      }
    }
    
    .modal-body {
      color: $modal_phrase_color;
    }
    
    .modal-footer {
      .delete_btn {
        background-color: $delete_btn_color;
        color: $btn_word_color;
      }
      
      .stop_delete_btn {
        background-color: $modal_stop_delete_color;
        color: $btn_word_color;
      }
    }
  }
  
  .detail_title {
    color: $card_title_color;
    font-size: 30px;
    // margin-bottom: 0;
    // padding: 8px;
    font-weight: 600;
  }
  
  .detail_body{
    .detail_count {
      color: #000000;
    }
    
    .detail_username {
      font-size: 25px;
      color: $username_color;
    }
    
    .detail_text {
      background: #ffffff;
      color: #000000;
      border-radius: 0;
      border: 0;
    }
  }
  
  .middle_title {
    color: $middle_title_color;
    font-family: $middle_title_font;
  }
  
  .username {
    a {
      color: $username_color;
    }
  }
  
  .comment {
    color: #000000;
  }
  
  .comment_index_btns {
    .edit_btn {
      background-color: $edit_btn_color;
      color: $btn_word_color;
    }
    
    .delete_btn {
      margin-left: 5px;
      background-color: $delete_btn_color;
      color: $btn_word_color;
    }
  }
  
  .return_btn {
    .return_all_post {
      margin-right: 3px;
    }
    
    .return_direction_post {
      margin-left: 3px;
    }
  }
}
//////////////////////////////////////////

//auth/post/create
.post_create {
  // .title {
  //   .page_title {
  //     font-family: $page_title_font;
  //   }
  // }
}

//////////////////////////////////////////

//auth/post/index/
.post_index{
  .card {
      border-radius: 0;
    
    .card_image {
      position: relative;
      
      .card-img-top {
        object-fit: cover;
        height: 200px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      
      .eye {
        position: absolute;
        top: 0px;
        right: 5px;
        
        .count-text {
        color: #ffffff;
        }
      }
    }
  }
    
  .card_body {
    background: #ffffff;
    padding: 0;
    
    .card_title {
      color: $card_title_color;
      font-size: 20px;
      margin-bottom: 0;
      padding: 8px;
      font-weight: 500;
    }
    
    .card_text {
      color: #000000;
      padding: 5px;
      margin-block-end: 0;
      
      .username {
        padding: 0 10px;
        margin-bottom: 0;
        a { 
          color: $username_color;
        }
      }
      
      .direction {
        padding: 0 10px;
        margin-bottom: 0;
        a { 
          color: $direction_color;
        }
      }
      
      .create_at {
        color: #000000;
        margin-bottom: 0;
      }
    }
    
    .index_btns {
      padding: 0 3px 10px 3px; 
      
      .edit_btn {
        background-color: $edit_btn_color;
        color: $btn_word_color;

      }
      
      .delete_btn {
        margin-left: 5px;
        background-color: $delete_btn_color;
        color: $btn_word_color;
      }
    }
  }
}
/////////////////////////////////////////////
//auth/post/edit
.post_edit {

}


/////////////////////////////////////////////
//auth/comment/edit
.post_comment {

}

/////////////////////////////////////////////
//auth/trip/index.blade.php
.trip_index {
  .index_btns {
    .edit_btn {
      background-color: $edit_btn_color;
      color: $btn_word_color;

    }
    
    .delete_btn {
      margin-left: 5px;
      background-color: $delete_btn_color;
      color: $btn_word_color;
    }
  }
  
  .modal-content {
    .modal-header {
      .modal-title {
        color: $modal_caution_color;
        font-weight: 700;
      }
    }
    
    .modal-body {
      color: $modal_phrase_color;
    }
    
    .modal-footer {
      .delete_btn {
        background-color: $delete_btn_color;
        color: $btn_word_color;
      }
      
      .stop_delete_btn {
        background-color: $modal_stop_delete_color;
        color: $btn_word_color;
      }
    }
  }
  
  .index_line {
    color: #c0c0c0;
    border: none;
    border-bottom:dashed  3px
  }
  
}
/////////////////////////////////

//auth/trip/detail
.trip_detail {
  .edit_btn {
    background-color: $edit_btn_color;
    color: $btn_word_color;
  }

  .delete_btn {
    background-color: $delete_btn_color;
    color: $btn_word_color;
  }
  
  .modal-content {
    .modal-header {
      .modal-title {
        color: $modal_caution_color;
        font-weight: 700;
      }
    }
    
    .modal-body {
      color: $modal_phrase_color;
    }
    
    .modal-footer {
      .delete_btn {
        background-color: $delete_btn_color;
        color: $btn_word_color;
      }
      
      .stop_delete_btn {
        background-color: $modal_stop_delete_color;
        color: $btn_word_color;
      }
    }
  }
  
  .table {
    table-layout: fixed;
    
    .thead {
      background-color: #ABE3FF;
    }
  }
  
  .no_item {
    color: red;
    font-weight: 600;
  }
  
  
  

  
  // .detail_items_title {
  //   font-weight: 600;
  //   font-size: 20px;
  // }
  
  .add_items {
    .delete_btn {
      background-color: $delete_btn_color;
      color: $btn_word_color;
    }
  }
  
  .middle_title {
    color: $middle_title_color;
    font-family: $middle_title_font;
  }
  
}

//////////////////////////////////////////

//auth/trip/create
.trip_create {
  .return_btn {
    margin-top: 100px;
  }
}

//////////////////////////////////////////

//auth/trip/edit

.trip_edit {

  
  .delete_btn {
      background-color: $delete_btn_color;
      color: $btn_word_color;
  }
  
  .modal-content {
    .modal-header {
      .modal-title {
        color: $modal_caution_color;
        font-weight: 700;
      }
    }
    
    .modal-body {
      color: $modal_phrase_color;
    }
    
    .modal-footer {
      .delete_btn {
        background-color: $delete_btn_color;
        color: $btn_word_color;
      }
      
      .stop_delete_btn {
        background-color: $modal_stop_delete_color;
        color: $btn_word_color;
      }
    }
  }
  
  .detail_items_title {
    font-weight: 600;
    font-size: 20px;
  }
  
  .add_items {
    .delete_btn {
      background-color: $delete_btn_color;
      color: $btn_word_color;
    }
  }
  
  .middle_title {
    color: $middle_title_color;
    font-family: $middle_title_font;
  }
  
}

//////////////////////////////////////////

//auth/post/search
.post_search {
  .direction_img {
    max-width: 100%;
  
  }
}


//////////////////////////////////////////

//auth/post/search_result
.search_result_direction {
  .direction_img {
  max-width: 100%;
  }
}

.post_search_result{
  .no_post {
    color: red;
    font-weight: 600;
    font-size: 20px;
  }
  
  .card {
      border-radius: 0;
    
    .card_image {
      position: relative;
      
      .card-img-top {
        object-fit: cover;
        height: 200px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      
      .eye {
        position: absolute;
        top: 0px;
        right: 5px;
        
        .count-text {
        color: #ffffff;
        }
      }
    }
  }


  .card_body {
    background: #ffffff;
    padding: 0;
    
    .card_title {
      color: $card_title_color;
      font-size: 20px;
      margin-bottom: 0;
      padding: 8px;
      font-weight: 500;
    }
    
    .card_text {
      color: #000000;
      padding: 5px;
      margin-block-end: 0;
      
      .username {
        padding: 0 10px;
        margin-bottom: 0;
        a { 
          color: $username_color;
        }
      }
      
      .direction {
        padding: 0 10px;
        margin-bottom: 0;
        a { 
          color: $direction_color;
        }
      }
      
      .create_at {
        color: #000000;
        margin-bottom: 0;
      }
    }
    
    .index_btns {
      padding: 0 3px 10px 3px; 
      
      .edit_btn {
        background-color: $edit_btn_color;
        color: $btn_word_color;

      }
      
      .delete_btn {
        margin-left: 5px;
        background-color: $delete_btn_color;
        color: $btn_word_color;
      }
    }
  }
}
