$page_title_font: impact;

$card_title_color: #000000;

$btn_word_color: #ffffff;
$btn_color: #1F9AF5;

$middle_title_color: #000000;
$middle_title_font: impact;

.pb-4,
.py-4 {
  padding-bottom: 1.5rem;
}

//全般的に使用
.page_title {
  font-family: $page_title_font;
  color: black;
  font-size: 50px;
}

.btn {
  background-color: $btn_color;
  color: $btn_word_color;
}


body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  color: #000000;
}



//navbar設定
.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}


//auth/profile/create.blade.php
.caution {
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

//auth/profile/create.blade.php
.required {
  background-color: #F30100;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

//auth/profile/userpage
.profile_userpage {
  .introduce {
    padding:5%;

    .img {
      text-align:center;
      .profile_round_image {
        border-radius: 50%;
        border: 2px solid;
        border-color: #61DBFF;
        width: 300px;
        height: 300px;
      }
    }
    .details{
      .user_name {
        color: $middle_title_color;
        font-family: $middle_title_font;
        font-size: 40px;
      }
      .tags {
        background: #5cd;
        // border-radius: 8px 0 0 8px;
        color: #fff;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding: 0 2em 0 3em;
        position: relative;
        color: $card_title_color;
        font-size: 20px;

        .small_title {  
          font-weight: 500;
          color: #ffffff;  
        }
      }

      .tags::before {
        border: 25px solid transparent;
        border-left-color: #5cd;
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -25px;
        top: 0;
        width: 0;
        font-weight: 500;
      }
      
      .tags::after {
        background: #28c;
        // border-radius: 8px 0 0 8px;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1em;
      }

      .detail_text{
        background: #ffffff;
        color: #000000;
        border-radius: 0;
        border: 0;
        font-size: 18px;
      }
    }
  }
}


.u-content-space {
  padding: 100px 0px;
  .my_post {
    .middle_title{
      color: $middle_title_color;
      font-family: $middle_title_font;
      font-size: 40px;
    }

    .u-portfolio{
      position: relative;
      //ボックスの範囲内に内容が収まらない場合に、はみ出た部分の表示の仕方:収まらない部分は隠す
      overflow: hidden;
      //250ms->250ミリ秒　トランジションが始まるまでの時間　ease-out->時間関数　0s->遅延
      transition: height 250ms ease-out 0s;

      .u-portfolio__item {
          //ボックスの表示（visible）・非表示（hidden）を指定する際に使用
          visibility: visible;
          transition: transform 250ms ease-out 0s, opacity 250ms ease-out 0s;
          //0.0（完全に透明）～1.0（完全に不透明）の数値で指定
          opacity: 1;
          //要素を 3D 空間内で再配置、scale3d(数値, 数値, 数値)　3つの数値で3D縮尺比率を指定
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
          //はみ出た要素の表示方法を指定->隠す
          overflow: hidden;
          //位置指定要素とその子孫要素、またはフレックスアイテムの z 順を定義(最背面から何番目か)
          z-index: 2;

        .u-portfolio__image {
          display: block;
          width: 100%;
          height: 200px;
          transition: all .2s ease;
          object-fit: cover;
        }

        .u-portfolio__info {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3.75rem;
          overflow: hidden;
          padding-left: 0.9375rem;
          padding-right: 0.9375rem;
          padding-top: 0.3125rem;
          padding-bottom: 0.3125rem;
          color: #fff;
          background-color: #53D5EB;
          transition: all .2s ease;
          transform: translate3d(0, 3.75rem, 0);

          .u-portfolio__info small {
            //要素の透明度を指定
              opacity: .7;
          }
        }
      }

      //ユーザーがカーソル（マウスポインタ―）でu-portfolio__item要素の上をホバー（通過）させたときにこの状態になる
      .u-portfolio__item:hover .u-portfolio__image {
        transform: translate3d(0, -60px, 0);
      }

      .u-portfolio__item:hover .u-portfolio__info {
        transform: translate3d(0, 0, 0);
      }


    }

    .to_my_post {
      padding-right: 0;
    }

  }

}