.body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.carousel {
    position: relative;
}

.carousel-item {
    background-size: cover;
    
}

.top_logo {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.top_button {
    position: absolute;
    width: 100%;
    top: 70%;
  　left: 50%;
  　-ms-transform: translate(-50%,-50%);
  　-webkit-transform: translate(-50%,-50%);
  　transform: translate(-50%,-50%);
  　z-index: 3;
}

.top_btns {
    padding: 1em 3em;
    background-color: #4A82F6;
    // background-color: #53D5EB;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}







