.carousel {
    position: relative;
}

.carousel-item {
    background-size: cover;
    
}

.top_logo {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.top_button {
    position: absolute;
    width: 100%;
    top: 70%;
  　left: 50%;
  　-ms-transform: translate(-50%,-50%);
  　-webkit-transform: translate(-50%,-50%);
  　transform: translate(-50%,-50%);
  　z-index: 3;
}



.button-fill {
    display: inline-block;
    padding: 1.5em 3em;
    font-size: 0.8em;
    color: #00b5ad;
    text-decoration: none;
    user-select: none;
    border: 1px #00b5ad solid;
    box-shadow: inset #00b5ad 0 0 0 0;
    transition: 0.3s;
  
}

.button-fill:hover {
    color: #fff;
    box-shadow: inset #00b5ad 0 0 0 3em;
}


