body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  color: #ccc;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.pagenation {
  font-size: 10pt;
}

.pagenation li {
  display: inline-block;
}

.card-picture {
  width: 100%;
}

.direction_img {
  max-width: 100%;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.card-text-username {
  float: left;
  width: 50%;
}

.card-text-direction {
  float: right;
  width: 50%;
}

.sample {
  position: relative;
}

.eye {
  position: absolute;
  top: 0px;
  right: 5px;
}

.post-create-form-group {
  margin-bottom: 0;
}

.page_title {
  font-family: impact;
  color: black;
  font-size: 50px;
}

.button-fill {
  display: inline-block;
  padding: 1.5em 3em;
  font-size: 0.8em;
  color: #00b5ad;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px #00b5ad solid;
  box-shadow: inset #00b5ad 0 0 0 0;
  transition: 0.3s;
}

.button-fill:hover {
  color: #fff;
  box-shadow: inset #00b5ad 0 0 0 3em;
}

