.btn {
  background-color: #1F9AF5;
  color: #ffffff;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  color: #000000;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.pagenation {
  font-size: 10pt;
}

.pagenation li {
  display: inline-block;
}

.card-picture {
  width: 100%;
}

.direction_img {
  max-width: 100%;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-text-username {
  float: left;
  width: 50%;
}

.card-text-direction {
  float: right;
  width: 50%;
}

.post-create-form-group {
  margin-bottom: 0;
}

.page_title {
  font-family: impact;
  color: black;
  font-size: 50px;
}

.login_btns {
  padding: 0.5em 2em;
  background-color: #4A82F6;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
}

.caution {
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

.required {
  background-color: #F30100;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

.detail_page .detail_direction {
  color: #6495ed;
  font-size: 20px;
}

.detail_page .index_btns {
  padding: 0 3px 10px 3px;
}

.detail_page .index_btns .edit_btn {
  background-color: #33cc33;
  color: #ffffff;
}

.detail_page .index_btns .delete_btn {
  margin-left: 5px;
  background-color: #ea5550;
  color: #ffffff;
}

.detail_page .modal-content .modal-header .modal-title {
  color: #ff0000;
  font-weight: 700;
}

.detail_page .modal-content .modal-body {
  color: #000000;
}

.detail_page .modal-content .modal-footer .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.detail_page .modal-content .modal-footer .stop_delete_btn {
  background-color: #1F9AF5;
  color: #ffffff;
}

.detail_page .detail_title {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
}

.detail_page .detail_body .detail_count {
  color: #000000;
}

.detail_page .detail_body .detail_username {
  font-size: 25px;
  color: #000080;
}

.detail_page .detail_body .detail_text {
  background: #ffffff;
  color: #000000;
  border-radius: 0;
  border: 0;
}

.detail_page .middle_title {
  color: #000000;
  font-family: impact;
}

.detail_page .username a {
  color: #000080;
}

.detail_page .comment {
  color: #000000;
}

.detail_page .comment_index_btns .edit_btn {
  background-color: #33cc33;
  color: #ffffff;
}

.detail_page .comment_index_btns .delete_btn {
  margin-left: 5px;
  background-color: #ea5550;
  color: #ffffff;
}

.detail_page .return_btn .return_all_post {
  margin-right: 3px;
}

.detail_page .return_btn .return_direction_post {
  margin-left: 3px;
}

.post_create .title .page_title {
  font-family: impact;
}

.card {
  border-radius: 0;
}

.card .card_image {
  position: relative;
}

.card .card_image .eye {
  position: absolute;
  top: 0px;
  right: 5px;
}

.card .card_image .eye .count-text {
  color: #ffffff;
}

.card .card_body {
  background: #ffffff;
  padding: 0;
}

.card .card_body .card_title {
  color: #000000;
  font-size: 20px;
  margin-bottom: 0;
  padding: 8px;
  font-weight: 500;
}

.card .card_body .card_text {
  color: #000000;
  padding: 5px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.card .card_body .card_text .username {
  padding: 0 10px;
  margin-bottom: 0;
}

.card .card_body .card_text .username a {
  color: #000080;
}

.card .card_body .card_text .direction {
  padding: 0 10px;
  margin-bottom: 0;
}

.card .card_body .card_text .direction a {
  color: #6495ed;
}

.card .card_body .card_text .create_at {
  color: #000000;
  margin-bottom: 0;
}

.card .card_body .index_btns {
  padding: 0 3px 10px 3px;
}

.card .card_body .index_btns .edit_btn {
  background-color: #33cc33;
  color: #ffffff;
}

.card .card_body .index_btns .delete_btn {
  margin-left: 5px;
  background-color: #ea5550;
  color: #ffffff;
}

.post_edit .title .page_title {
  family-font: impact;
}

.post_comment .title .page_title {
  family-font: impact;
}

.trip_index .title .page_title {
  family-font: impact;
}

.trip_index .index_btns .edit_btn {
  background-color: #33cc33;
  color: #ffffff;
}

.trip_index .index_btns .delete_btn {
  margin-left: 5px;
  background-color: #ea5550;
  color: #ffffff;
}

.trip_index .modal-content .modal-header .modal-title {
  color: #ff0000;
  font-weight: 700;
}

.trip_index .modal-content .modal-body {
  color: #000000;
}

.trip_index .modal-content .modal-footer .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_index .modal-content .modal-footer .stop_delete_btn {
  background-color: #1F9AF5;
  color: #ffffff;
}

.trip_index .index_line {
  color: #c0c0c0;
  border: none;
  border-bottom: dashed 3px;
}

.trip_detail .title .page_title {
  family-font: impact;
}

.trip_detail .edit_btn {
  background-color: #33cc33;
  color: #ffffff;
}

.trip_detail .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_detail .modal-content .modal-header .modal-title {
  color: #ff0000;
  font-weight: 700;
}

.trip_detail .modal-content .modal-body {
  color: #000000;
}

.trip_detail .modal-content .modal-footer .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_detail .modal-content .modal-footer .stop_delete_btn {
  background-color: #1F9AF5;
  color: #ffffff;
}

.trip_detail .item_line {
  border-top: 3px double #ccc;
}

.trip_detail .detail_items_title {
  font-weight: 600;
  font-size: 20px;
}

.trip_detail .add_items .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_detail .middle_title {
  color: #000000;
  font-family: impact;
}

.trip_edit .title .page_title {
  family-font: impact;
}

.trip_edit .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_edit .modal-content .modal-header .modal-title {
  color: #ff0000;
  font-weight: 700;
}

.trip_edit .modal-content .modal-body {
  color: #000000;
}

.trip_edit .modal-content .modal-footer .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_edit .modal-content .modal-footer .stop_delete_btn {
  background-color: #1F9AF5;
  color: #ffffff;
}

.trip_edit .detail_items_title {
  font-weight: 600;
  font-size: 20px;
}

.trip_edit .add_items .delete_btn {
  background-color: #ea5550;
  color: #ffffff;
}

.trip_edit .caution_message {
  color: #ff0000;
  font-weight: 700;
}

.trip_edit .middle_title {
  color: #000000;
  font-family: impact;
}

