.btn {
  background-color: #1F9AF5;
  color: #ffffff;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  color: #000000;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.caution {
  background-color: #f0ad4e;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

.required {
  background-color: #F30100;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  padding: 3px 7px;
  margin: 0px 5px;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

.profile_userpage .introduce {
  padding: 5%;
}

.profile_userpage .introduce .img {
  text-align: center;
}

.profile_userpage .introduce .img .profile_round_image {
  border-radius: 50%;
  border: 2px solid;
  border-color: #61DBFF;
  width: 300px;
  height: 300px;
}

.profile_userpage .introduce .details .user_name {
  color: #000000;
  font-family: impact;
  font-size: 40px;
}

.profile_userpage .introduce .details .tags {
  background: #5cd;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 2em 0 3em;
  position: relative;
  color: #000000;
  font-size: 20px;
}

.profile_userpage .introduce .details .tags .small_title {
  font-weight: 500;
  color: #ffffff;
}

.profile_userpage .introduce .details .tags::before {
  border: 25px solid transparent;
  border-left-color: #5cd;
  border-right-width: 0;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: -25px;
  top: 0;
  width: 0;
  font-weight: 500;
}

.profile_userpage .introduce .details .tags::after {
  background: #28c;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em;
}

.profile_userpage .introduce .details .detail_text {
  background: #ffffff;
  color: #000000;
  border-radius: 0;
  border: 0;
  font-size: 18px;
}

.u-content-space {
  padding: 100px 0px;
}

.u-content-space .my_post .middle_title {
  color: #000000;
  font-family: impact;
  font-size: 40px;
}

.u-content-space .my_post .u-portfolio {
  position: relative;
  overflow: hidden;
  transition: height 250ms ease-out 0s;
}

.u-content-space .my_post .u-portfolio .u-portfolio__item {
  visibility: visible;
  transition: transform 250ms ease-out 0s, opacity 250ms ease-out 0s;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  overflow: hidden;
  z-index: 2;
}

.u-content-space .my_post .u-portfolio .u-portfolio__item .u-portfolio__image {
  display: block;
  width: 100%;
  height: 200px;
  transition: all 0.2s ease;
  -o-object-fit: cover;
     object-fit: cover;
}

.u-content-space .my_post .u-portfolio .u-portfolio__item .u-portfolio__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  overflow: hidden;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  color: #fff;
  background-color: #53D5EB;
  transition: all 0.2s ease;
  transform: translate3d(0, 3.75rem, 0);
}

.u-content-space .my_post .u-portfolio .u-portfolio__item .u-portfolio__info .u-portfolio__info small {
  opacity: 0.7;
}

.u-content-space .my_post .u-portfolio .u-portfolio__item:hover .u-portfolio__image {
  transform: translate3d(0, -60px, 0);
}

.u-content-space .my_post .u-portfolio .u-portfolio__item:hover .u-portfolio__info {
  transform: translate3d(0, 0, 0);
}

.u-content-space .my_post .to_my_post {
  padding-right: 0;
}

